.container {
    max-width: 1120px;
    display: flex;
    flex-flow: column nowrap;
    padding: 32px;
    border-radius: 8px;
    backdrop-filter: blur(25px);
    background: var(--netural-tone-600);
    row-gap: 64px;
}

@media (max-width: 1023px) {
    .container {
        padding: 24px;
        row-gap: 48px;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 16px;
        row-gap: 32px;
    }
}
